// grid variables
$grid-columns: 12;
$grid-max-width: 65em;
$danger: 'red';
$success: 'green';
$info: 'lightskyblue';
$primary: 'DodgerBlue';
$primary-brand: 'purple';
$block-background: 'mistyrose';


// breakpoints
$breakpoint-small: "only screen and (max-width: 20em)";
$breakpoint-medium: "only screen and (min-width: 30em)";
