.App {
  margin-top: 56px;
  text-align: center;
  height: 100%;
}

.map-container{
  position: relative;
}
.map {
    height: 400px;
    overflow: hidden;
    padding-bottom: 22.25%;
    padding-top: 30px;
    position: relative;
}
@media (max-width: 768px){
.map{
    height: 250px;
  }
}
