.select {
  border-radius: 3px;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  height: 100%;
  font-size: 14px;
  position: relative;
  input {
    max-width: 100px;
    background: $primary-brand;
    color: white;
    font-family: 'Raleway', sans-serif !important;
    font-size: 16px !important;
    border: none;
    flex: 1;
    padding: 2px 0px 0px 20px;
    &:focus {
      outline: none;
    }
  }
}
